 /* Extra small devices (portrait phones, less than 576px) */
 
 @media (max-width: 575.98px) {}
 /* Small devices (landscape phones, 576px and up) */
 
 @media (min-width: 576px) and (max-width: 767.98px) {}
 /* Medium devices (tablets, 768px and up) */
 
 @media (min-width: 768px) and (max-width: 991.98px) {}
 /* Large devices (desktops, 992px and up) */
 
 @media (min-width: 992px) and (max-width: 1199.98px) {
     .contact-us input {
         display: block;
         padding: 7px 0px 7px 5px;
         box-shadow: 2px 2px 4px #918f8f;
         border: 1px solid #a8a8a8;
         margin: auto;
         width: 34%;
     }
     .contact-us .btn-custome {
         color: #ffffff;
         text-transform: uppercase;
         padding: 6px 15px;
         background: #FF247A;
         margin-right: 216px;
     }
 }
 /* Extra large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) {}